.c-resume {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.c-resume__heading {
  color: #111;
  font-family: "Viga", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.c-resume__detail {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.c-resume__time {
  padding: 5px 10px;
  background-color: var(--color-main);
  color: var(--color-btn-text);
  border-radius: 10px;
}

.c-resume__title {
  font-size: 20px;
  font-weight: bold;
}

.c-resume__title--weightLow {
  font-weight: 500;
}

.c-resume__list {
  margin-bottom: 20px;
}

.c-resume__divider {
  border-left: 3px dotted var(--color-divider);
}

@media screen and (max-width: 1700px), screen and (max-height: 650px) {
  .c-resume__heading {
    font-size: 30px;
  }
  .c-resume__time {
    font-size: 15px;
  }
  .c-resume__title {
    font-size: 15px;
  }
  .c-resume__list {
    font-size: 13px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1300px) {
  .c-resume__heading {
    font-size: 30px;
  }
  .c-resume__time {
    font-size: 13px;
  }
  .c-resume__title {
    font-size: 13px;
  }
  .c-resume__list {
    font-size: 11px;
  }
}

@media screen and (max-width: 1150px) {
  .c-resume__heading {
    font-size: 25px;
  }
  .c-resume__time {
    font-size: 12px;
  }
  .c-resume__title {
    font-size: 12px;
  }
  .c-resume__list {
    font-size: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .c-resume {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
  }
  .c-resume__divider {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .c-resume {
    margin-top: 10px;
    flex-direction: column;
    gap: 50px;
  }
  .c-resume__details {
    margin-left: 20px;
  }
}
