.section__right_content_description_portfolio_header {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.section__right_content_description_portfolio_header_tag {
  color: var(--color-heading);
  font-family: "Viga", sans-serif;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
}

.section__right_content_description_portfolio_details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
}

.section__right_content_description_portfolio_details_box {
  flex-basis: 35%;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.section__right_content_description_portfolio_details_box:hover {
  transform: scale(1.1) translateY(-5px);
}

.section__right_content_description_portfolio_details_box_photo {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.section__right_content_description_portfolio_details_box_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--color-main));
  opacity: 0;
  transition: 1s;
}

.section__right_content_description_portfolio_details_box:hover
  .section__right_content_description_portfolio_details_box_overlay {
  opacity: 1;
}

.section__right_content_description_portfolio_details_box_description {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 1s;
}

.section__right_content_description_portfolio_details_box_description_divider {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}

.section__right_content_description_portfolio_details_box:hover
  .section__right_content_description_portfolio_details_box_description {
  bottom: 25%;
  opacity: 1;
}

.section__right_content_description_portfolio_details_box_description_technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section__right_content_description_portfolio_details_box_description_technologies_technology {
  font-family: "Montserrat";
  font-size: 13px;
  color: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.section__right_content_description_portfolio_details_box_github {
  background-color: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.section__right_content_description_portfolio_details_box_github:hover {
  background-color: var(--color-btn-hover);
  transform: scale(1.2) ;
}


@media screen and (max-width: 1500px) {
  .section__right_content_description_portfolio_details_box_description {
    font-size: 13px;
  }
}

@media screen and (max-width: 1300px) {
  .section__right_content_description_portfolio_details_box {
    flex-basis: 45%;
  }
  .section__right_content_description_portfolio_details_box:hover
    .section__right_content_description_portfolio_details_box_description {
    bottom: 45%;
  }
  .section__right_content_description_portfolio_details_box_description > * {
    display: none;
  }
  .section__right_content_description_portfolio_details_box_description > h3 {
    display: block;
  }
  .section__right_content_description_portfolio_details_box_description_divider {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .section__right_content_description_portfolio_header {
    gap: 100px;
  }
  .section__right_content_description_portfolio_header_tag {
    font-size: 25px;
  }
}

@media screen and (max-width: 950px) {
  .section__right_content_description_portfolio_header {
    gap: 50px;
  }
  .section__right_content_description_portfolio_header_tag {
    font-size: 20px;
  }
  .section__right_content_description_portfolio_details {
    padding: 50px 0 0 0;
  }
  .section__right_content_description_portfolio_details_box {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 650px) {
  .section__right_content_description_portfolio_header_tag {
    font-size: 15px;
  }
}
