.section__right_content_description_portfolio_header {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.section__right_content_description_portfolio_header_tag {
  color: #111;
  font-family: "Viga", sans-serif;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
}

.section__right_content_description_portfolio_details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
}

.section__right_content_description_portfolio_details_box {
  flex-basis: 35%;
  position: relative;
  cursor: pointer;
}

.section__right_content_description_portfolio_details_box_photo {
  width: 100%;
  border-radius: 10px;
}

.section__right_content_description_portfolio_details_box_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(250, 191, 48));
  opacity: 0;
  transition: 1s;
}

.section__right_content_description_portfolio_details_box:hover
  .section__right_content_description_portfolio_details_box_overlay {
  opacity: 1;
}

.section__right_content_description_portfolio_details_box_description {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 1s;
}

.section__right_content_description_portfolio_details_box_description_divider {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}

.section__right_content_description_portfolio_details_box:hover .section__right_content_description_portfolio_details_box_description {
  bottom: 25%;
  opacity: 1;
}
