.section__right_content_description_about_subheading {
    font-size: 40px;
  }
  
  .section__right_content_description_about_subheading_name-style {
    font-family: "Viga", sans-serif;
    font-weight: 900;
  }
  
  .section__right_content_description_about_paragraph {
    margin-top: 25px;
  }
  