.c-section-header {
  border: 3px dotted var(--color-divider);
}

.c-section-header__heading {
  padding: 20px 0;
  text-align: center;
  border: 3px dotted var(--color-divider);
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: var(--color-heading);
  letter-spacing: 15px;
}

@media screen and (max-width: 1300px) {
  .c-section-header__heading {
    font-size: 75px;
  }
}

@media screen and (max-width: 950px) {
  .c-section-header__heading {
    font-size: 60px;
  }
}

@media screen and (max-width: 800px) {
  .c-section-header__heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 650px) {
  .c-section-header__heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .c-section-header__heading {
    font-size: 20px;
  }
}
