.c-contact__paragraph {
  font-size: 40px;
}

.c-contact__paragraph--bold {
  font-family: "Montserrat";
  font-weight: 800;
}

.c-contact__details {
  margin-top: 70px;
  display: flex;
  gap: 50px;
}

.c-contact__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 6em;
}

.c-contact__detail {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 95px;
  font-size: 2.5em;
}

@media screen and (max-width: 900px), screen and (max-height: 850px) {
  .c-contact__paragraph {
    font-size: 30px;
  }

  .c-contact__icons {
    font-size: 5.3em;
  }

  .c-contact__detail {
    font-size: 2em;
  }
}

@media screen and (max-width: 750px), screen and (max-height: 700px) {
  .c-contact__details {
    gap: 40px;
  }
  .c-contact__icons {
    font-size: 4em;
  }

  .c-contact__detail {
    font-size: 1.5em;
    gap: 80px;
  }
}

@media screen and (max-width: 620px), screen and (max-height: 500px) {
  .c-contact__details {
    gap: 30px;
  }
  .c-contact__icons {
    font-size: 3.5em;
  }

  .c-contact__detail {
    font-size: 1em;
    gap: 83px;
  }
}
