* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}


.main__right_navigation-bar {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0; /* check it */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 15px;
  border-radius: 30px;
  background-color: rgb(250, 191, 48);
}

