@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@600;800;900&family=Signika+Negative:wght@700&family=Viga&family=Open+Sans:wght@500&family=Rampart+One&family=Tilt+Warp&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --color-main: rgb(250, 191, 48);
  --color-background: #eee;
  --color-text: #000;
  --color-heading: #111;
  --color-btn-text: #fff;
  --color-btn-hover: #fff;
  --color-divider: #ccc;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

@media screen and (min-width: 769px) {
  #root {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
}

@media (max-width: 1300px) {
  #root {
    scroll-snap-type: y proximity;
  }
}
