.section__right_content_description {
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .section__right_content_description {
    margin-left: 0;
  }
}